---
layout: default
---

<div class="wrapper">
  <header>
    <a id="hamburger"
      ><svg
        class="menu-btn"
        height="32px"
        id="Layer_1"
        style="enable-background:new 0 0 32 32;"
        version="1.1"
        viewBox="0 0 32 32"
        width="32px"
        xml:space="preserve"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path
          d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"
        />
      </svg>
    </a>
    <h1>
      <a href="{{ '/' | absolute_url }}">{{
        site.title | default: site.github.repository_name
      }}</a>
    </h1>
    <div id="hamburger-menu" class="hamburger-menu">
      {% if site.logo %}
      <img src="{{ site.logo | relative_url }}" alt="Logo" />
      {% endif %}
      <div class="row">
        <ul class="col-xs-4">
          {% for post in site.posts reversed %} {% if post.category ==
          "assignment" %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endif %} {% endfor %}
        </ul>
        <div class="bio col-xs-8">
          {% capture bio %}{% include bio.md %}{% endcapture %}
          {{ bio | markdownify }}
        </div>
      </div>
    </div>
  </header>
  <section>
    {{ content }}
  </section>
</div>

<script>
  document.getElementById("hamburger").addEventListener("click", function() {
    document.getElementById("hamburger-menu").classList.toggle("open");
  });
</script>
